    .login-slider {
        height: 30%;
        overflow: hidden;
        background-color: #0162b2;
    }

    .login-texto {
        color: #0063b1;
        text-align: center;
    }

    .item-input {
        margin: 0 auto;
        width: 80%;
        padding: 10px 0;
    }

    .button {
        display: block;
        margin: 0 auto;
    }

    .botao-entrar{
        margin-top: 20px;
        background-color: #0162b2;
        width: 170px;
    }

    .botao-cadastro {
        background-color: #4f73a5;
        margin-bottom: 20px;
    }

    .login-content {
        min-height: 100%;
    }

    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
      }
      
      .flb {
        background-color: #ffffff;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
      
      #logoLeft{
        display: block;
        margin: 0 auto;

        width: 35%;
        height: auto;
        animation: animation1 3100ms linear infinite both;
        animation-delay: 1s;
      }
      #logoRight{
        display: block;
        margin: 0 auto;
        width: 30%;
        height: auto;
        animation: animation2 3100ms linear infinite both;
        animation-delay: 1s;
      }

      @keyframes pulse {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }



  
             
      @keyframes animation1 { 
        0% { transform: translateX(400px) }
        25% { transform: translateX(350px) }
        35% { transform: translateX(300px) }
        45% { transform: translateX(250px) }
        55% { transform: translateX(200px) }
        65% { transform: translateX(175px) }
        75% { transform: translateX(150px) }
        85% { transform: translateX(150px) }
        95% { transform: translateX(133px) } 
        100% { transform: translateX(133px) }
      }

      @keyframes animation2 { 
        0% { transform: translateX(-400px) }
        25% { transform: translateX(-350px) }
        35% { transform: translateX(-300px) }
        45% { transform: translateX(-250px) }
        55% { transform: translateX(-200px) }
        65% { transform: translateX(-175px) }
        75% { transform: translateX(-150px) }
        85% { transform: translateX(-150px) }
        95% { transform: translateX(-133px) } 
        100% { transform: translateX(-133px) }
      }
