    .login-slider {
        height: 30%;
        overflow: hidden;
        background-color: #0162b2;
    }

    .login-texto {
        color: #0063b1;
        text-align: center;
    }

    .item-input {
        margin: 0 auto;
        width: 80%;
        padding: 10px 0;
    }

    .button {
        display: block;
        margin: 0 auto;
    }

    .botao-entrar{
        margin-top: 20px;
        background-color: #0162b2;
        width: 170px;
    }

    .botao-cadastro {
        background-color: #4f73a5;
        margin-bottom: 20px;
    }

    .login-content {
        min-height: 100%;
    }

    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
      }
      
      .flb {
        background-color: #ffffff;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
      
      #logoLeft{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 35%;
        height: auto;
        animation: animation1 3100ms linear both;
        animation-delay: 1s;
      }
        
      
      #logoRight{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 30%;
        height: auto;
        animation: animation2 3100ms linear both;
        animation-delay: 1s;

      }
      #logoLeft2{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 25%;
        height: auto;
        animation: animation1 3100ms linear both;
        animation-delay: 4s;
      }
      #logoRight2{
        display: block;
        margin: 0 auto;
        position: absolute;
        width: 25%;
        height: auto;
        animation: animation2 3100ms linear both;
        animation-delay: 4s;

      }
             
      @keyframes animation1 { 
        0% { transform: translateX(253px);opacity: 1 }
        5% { transform: translateX(233px);opacity: 1}
        10% { transform: translateX(213px);opacity: 1 }
        15% { transform: translateX(193px);opacity: 1}
        20% { transform: translateX(173px);opacity: 1 }
        25% { transform: translateX(153px);opacity: 1 }
        30% { transform: translateX(133px);opacity: 1 }
        35% { transform: translateX(113px);opacity: 1 }
        40% { transform: translateX(93px);opacity: 1 } 
        45% { transform: translateX(73px);opacity: 1 }
        50% { transform: translateX(53px);opacity: 1 }      
        100% { transform: translateX(0px);opacity: 0 }
      }

      @keyframes animation2 { 
        0% { transform: translateX(-253px);opacity: 1 }
        5% { transform: translateX(-233px);opacity: 1}
        10% { transform: translateX(-213px);opacity: 1 }
        15% { transform: translateX(-193px);opacity: 1}
        20% { transform: translateX(-173px);opacity: 1 }
        25% { transform: translateX(-153px);opacity: 1 }
        30% { transform: translateX(-133px);opacity: 1 }
        35% { transform: translateX(-113px);opacity: 1 }
        40% { transform: translateX(-93px);opacity: 1 } 
        45% { transform: translateX(-73px);opacity: 1 }
        50% { transform: translateX(-53px);opacity: 1 }
        100% { transform: translateX( 0px);opacity: 0 }
      }
     